name: Suggest Labels Demo
on:
  workflow_dispatch:
    inputs:
      readonly:
        description: "readonly: Specify true or 1 to prevent changes from being commited to GitHub"
        default: false
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: snehara99/label-suggestions@0.0.10
      with:
        token: ${{ github.token }} 
        api-key: ${{ secrets.API_KEY }}
        endpoint: 'https://americasopenai.azure-api.net'
        deployment-id: 'gpt-35-turbo-16k'

